.container {
    width: 1000px;
    height: 500px;
    position: relative;
    overflow: auto;
}

button {
    background-color: chartreuse;
    display: none;
    cursor: pointer;
    position: absolute;
    bottom: 5px;
    right: 5px;
    box-shadow: 0 0 10px;
    border-radius: 5px 5px 0;
}

.container:hover button {
    display: inline-block;
}